<app-nav></app-nav>
<div class="background-image">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center welcome-text">
                <h1><b>¡Nuestras clases!</b></h1>
                <p class><b>EXERCISE OR DIE!!!!!!</b></p>
            </div>
        </div>
        <div id="clasesCarousel" class="carousel slide" data-bs-ride="carousel">
          <ol class="carousel-indicators">
              <li data-bs-target="#clasesCarousel" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#clasesCarousel" data-bs-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="container mt-5">
                      <div class="row">
                          <div class="col-lg-4 col-md-6">
                              <div class="card">
                                  <img src="assets/zumba.png" class="card-img-top" alt="Clase 1">
                                  <div class="card-body">
                                      <h5 class="card-title">Zumba</h5>
                                      <p class="card-text">19:00hs a 21:00hs.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="card">
                                  <img src="assets/maquina.png" class="card-img-top" alt="Clase 2">
                                  <div class="card-body">
                                      <h5 class="card-title">Máquinas</h5>
                                      <p class="card-text">07:00hs a 22:00hs.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="card">
                                  <img src="assets/spinning.png" class="card-img-top" alt="Clase 2">
                                  <div class="card-body">
                                      <h5 class="card-title">Spinning</h5>
                                      <p class="card-text">07:00hs a 22:00hs.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="container mt-5">
                      <div class="row">
                          <div class="col-lg-4 col-md-6">
                              <div class="card">
                                  <img src="assets/boxeo.png" class="card-img-top" alt="Clase 3">
                                  <div class="card-body">
                                      <h5 class="card-title">Boxeo</h5>
                                      <p class="card-text">17:00hs a 20:00hs.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="card">
                                  <img src="assets/cardio.png" class="card-img-top" alt="Clase 4">
                                  <div class="card-body">
                                      <h5 class="card-title">Cardio</h5>
                                      <p class="card-text">09:00hs a 12:00hs.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="card">
                                  <img src="assets/aerobics.png" class="card-img-top" alt="Clase 4">
                                  <div class="card-body">
                                      <h5 class="card-title">Aerobics</h5>
                                      <p class="card-text">09:00hs a 12:00hs.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Puedes agregar más "carousel-item" para más grupos de tarjetas aquí -->
          </div>
          <a class="carousel-control-prev" href="#clasesCarousel" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#clasesCarousel" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </a>
      </div>
    </div>
</div>
<app-fot></app-fot>