<app-nav></app-nav>
<div class="background-image">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class= text-titulo text-center mt-5><b>Nuestros Profesores</b></h1>
        </div>
      </div>
    <div id="profesoresCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/profe1.jpg" alt="Profesor 1" class="img-fluid">
                        </div>
                        <div class="col-md-8 text-parrafo">
                            <h2 id="nombreprof">Michael Jordan</h2>
                            <p>Michael es una leyenda del deporte y un instructor apasionado de Zumba. Su energía y habilidades de baile lo convierten en un guía emocionante para el fitness y la diversión. Inspira a millones y está comprometido en ayudarte a disfrutar de la Zumba y llevar un estilo de vida saludable.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/profe2.jpg" alt="Profesor 2" class="img-fluid">
                        </div>
                        <div class="col-md-8 text-parrafo">
                            <h2 id="nombreprof">Lionel Andres Messi</h2>
                            <p>
                              Un famoso futbolista y apasionado instructor de cardio te guiará en sesiones intensas para mejorar tu resistencia y salud cardiovascular, motivándote hacia tus objetivos de fitness.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/profe3.jpg" alt="Profesor 3" class="img-fluid">
                        </div>
                        <div class="col-md-8 text-parrafo">
                            <h2 id="nombreprof">Mike Tyson</h2>
                            <p>Un famoso exboxeador y apasionado instructor de boxeo en nuestro gimnasio te enseñará las técnicas efectivas del boxeo, ayudándote a desarrollar fuerza, agilidad y confianza en el ring. Descubre tu campeón interior en sus clases.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Nuevo Profesor -->
            <div class="carousel-item">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/profe4.jpg" alt="Profesor Paula Pareto" class="img-fluid">
                        </div>
                        <div class="col-md-8 text-parrafo">
                            <h2 id="nombreprof">Paula Pareto</h2>
                            <p>Una atleta olímpica y experta en el uso de máquinas de ejercicio te enseñará a sacar el máximo provecho de nuestras máquinas de gimnasio. Únete a sus clases para aprender a utilizar las máquinas de manera eficiente y alcanzar tus objetivos de fitness.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#profesoresCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#profesoresCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
  </div>