# --- PYTHON (Backend) ---
# Byte-compiled / Optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos Virtuales y archivos de configuración de venv
env/
venv/
.venv/
bin/
include/
lib/
lib64/
pyvenv.cfg
share/
backend/lib64/
# Variables de entorno y secretos
.env
.flaskenv

# Bases de datos (Locales)
*.db
*.sqlite3
instance/

# --- ANGULAR / NODE (Frontend) ---
# Dependencias
node_modules/

# Builds de producción
dist/
build/

# Configuración de Angular y temporales
.angular/
.sass-cache/
connect.lock
coverage/

# Logs de errores
npm-debug.log
yarn-error.log

# --- IDEs y SISTEMA ---
.vscode/
.idea/
.DS_Store