<app-nav></app-nav>
    <div class="background-image">
      <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body"> 
                        <h2 class="card-title text-center">Baja Profesor</h2>
                        <p> Dar de Baja llenando el siguiente registro</p>
                        <form>
                            <div class="mb-3">
                                <label for="email" class="form-label">Profesor</label>
                                <input type="email" class="form-control" id="nombre" placeholder="Nombre Profesor">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Especialidad</label>
                                <input type="email" class="form-control" id="apellido" placeholder="Especialidad">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Descripción</label>
                                <input type="email" class="form-control" id="descripcion" placeholder="Ingresa razón de baja">
                            </div>
                        
                            <a type="button" href="index.html" class="btn btn-secondary w-100">Crear</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
