<app-nav></app-nav>
  <div class="background-image">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center welcome-text">
                <img src="assets/logo.png" alt="Logo" width="128" class="d-inline-block align-text-top">
                <h1 >Bienvenido a Gym Of Legends</h1>
                <p>En Gym Of Legends, aprende de leyendas en deportes como Michael Jordan, Lionel Messi, Mike Tyson y Paula Pareto. ¡Conviértete en un campeón con nosotros!</p>
                <a type="button" routerLink="/clases" style="background-color: #D2FF52;" class="btn btn-primary btn-lg">Ver Clases</a>
                <br>
                <br>
                <img src="assets/fondo.png" alt="Leyendas" width="256" class="d-inline-block align-text-top">
            </div>
        </div>
    </div>
  </div>