<app-nav></app-nav>
<div class="background-image">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center"><i>Panel de Administrador</i></h2>
                        <p align="center"><b>Administración de usuarios</b></p>
                        <form>
                            <div align="center" class="form-group">
                                <p><b>Elija qué hará con el usuario</b></p>
                                <select class="form-select" id="altaSelect">
                                    <option value="" disabled selected>▾ Elige una opción</option>
                                    <option>Alta</option>
                                    <option>Baja</option>
                                </select>
                                <br>
                                <p><b>Elija el tipo de usuario</b></p>
                                <select class="form-select" id="bajaSelect">
                                    <option value="" disabled selected>▾ Elige una opción</option>
                                    <option>Profesor</option>
                                    <option>Alumno</option>
                                </select>
                                <br>
                                <button type="submit" class="btn btn-primary">Aceptar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-fot></app-fot>
