<app-nav></app-nav>
<div class="background-image">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                  <img src="assets/login.jpg" id="login-img">
                    <div class="card-body">
                        
                        <h2 class="card-title text-center">Iniciar sesión</h2>
                        <form [formGroup]="loginForm">
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo electrónico</label>
                                <input type="email" class="form-control" formControlName="email" placeholder="Tu correo electrónico">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" formControlName="password" placeholder="Tu contraseña">
                            </div>
                            <button class="btn btn-secondary w-100" (click)="submit()">Ingresar</button>
                        </form>
                        
                        <div *ngIf="!isToken">
                            <p class="mt-3 text-center">¿Aún no tienes una cuenta? <a routerLink="/registro">Regístrate aquí</a></p>
                        </div>
                        
                        <div *ngIf="isToken">
                            <p class="mt-3 text-center">Has iniciado sesión. <a (click)="cerrarSesion()">Cerrar Sesión</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
