@import url('src/styles.css');

body {
    background-image: linear-gradient(to bottom, #0A372F, black);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.text-center {
  font-weight: bolder;
  color: #D2FF52;
}

.form-control {
  border-radius: 10;
  border: 2px solid #D2FF52BF;
  background-color: rgb(0 0 0 / 75%);
}

.form-control:focus {
  border-color: #D2FF52;
  box-shadow: 0 0 5px 5px rgb(210 255 82 / 25%);
  background-color: rgb(0 0 0 / 75%);
  color: #D2FF52;
}

.form-control::placeholder {
  color: #FFFDC380;
}

.list-group-item {
  border-radius: 10;
  border: 1px solid #FFFDC3;
  background-color: rgb(0 0 0 / 75%);
  color: #FFFDC3;
}

.list-group-item:hover {
  background-color: rgb(0 0 0 / 75%);
  color: #D2FF52;
}

.btn-primary, .btn-outline-secondary {
  border-radius: 10;
  border: 2px solid #D2FF52BF;
  background-color: rgb(0 0 0 / 75%);
  color: #D2FF52;
}

.btn-primary:hover, .btn-outline-secondary:hover {
  background-color: rgb(0 0 0 / 75%);
  color: #FFFDC3;
  border: 2px solid #FFFDC3;
  box-shadow: 0 0 5px 5px rgb(210 255 82 / 25%);
}

.btn-danger {
  border-radius: 10;
  border: 2px solid #f00;
  background-color: rgb(0 0 0 / 75%);
  color: #f00;
}

.btn-danger:hover {
  background-color: rgb(0 0 0 / 75%);
  color: #f88;
  border: 2px solid #f88;
  box-shadow: 0 0 5px 5px rgb(255 150 150 / 25%);
}