/* VistaAdmin nav */

* {
  font-family: "Noto Sans";
}

.sesion{
  background: linear-gradient(90deg, #D2FF5280 0%, #73E5EB80 100%);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.btn {
    margin-bottom: 5px;
    background-color: #D2FF52;
    color: black;
    border-radius: 10px;
    border: 5px solid #000;
    box-shadow: 0 5px 0px #000;
    transition: 0.15s ease-in;
}

.btn:hover {
    box-shadow: 0 0px 0px #000;
    transform: translateY(5px);
}

.user-info {
    color: #D2FF52;
    text-shadow: 1px 1px 2px black; /* Agrego sombra para mejorar legibilidad sobre fondo claro */
}
