<app-nav></app-nav>
<div class="background-image">
    <div class="container mt-5">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <div class="card">
                  <div class="card-body"> 
                      <h2 class="card-title text-center">Baja Clase</h2>
                      <p> Da de baja una clase llenando el formulario</p>
                      <form>
                          <div class="mb-3">
                              <label for="email" class="form-label">Profesor</label>
                              <input type="email" class="form-control" id="nombre" placeholder="Nombre Profesor">
                          </div>
                          <div class="mb-3">
                              <label for="email" class="form-label">Clases</label>
                              <input type="email" class="form-control" id="apellido" placeholder="Nombre de Clase">
                          </div>
                          <div class="mb-3">
                              <label for="email" class="form-label">Descripción</label>
                              <input type="email" class="form-control" id="descripcion" placeholder="Ingresa razón de baja">
                          </div>
                      
                          <a type="button" routerLink="/home" class="btn btn-secondary w-100">Crear</a>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>