@import url('src/styles.css');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
.error-container {
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1 {
    font-size: 48px;
    color: #9c980d;
}
p {
    font-size: 24px;
}
.error-icon {
    font-size: 64px;
    color: #9c980d;
    margin-bottom: 20px;
}
.error-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9c980d;
    color: #280f49;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}
.error-link:hover {
    background-color: #9c980d;
}
