<footer class="footer py-3 bg-dark">
    <div class="container text-center text-light">
        <div class="col-md-6 d-flex align-items-center">
            <span class="text-muted">© 2023 GOL. Te ayudamos a subir de nivel.</span>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-facebook fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
